[submodule "cakeml"]
        path = cakeml
        url = https://github.com/CakeML/cakeml.git
[submodule "polyml"]
        path = polyml
        url = https://github.com/polyml/polyml.git
[submodule "HOL"]
        path = HOL
        url = https://github.com/HOL-Theorem-Prover/HOL.git
[submodule "choreo"]
        path = choreo
        url = https://github.com/CakeML/choreo.git
